<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.ibatis.learn.person.PersonMapper">
    <select id="selectOne" resultType="org.apache.ibatis.learn.person.Person">
        select * from person where id = #{id}
    </select>
</mapper>
